body{
    padding: 0;
    margin: 0;
    --main-text-color: rgb(236, 236, 236);
    --nav-bg-color: #539DC9;
}
*{
    font-family: 'Poppins', sans-serif;
    font-size: 0.99em;
}
#main-nav{
    border-bottom: 1px solid #CCC;
    background-color: var(--nav-bg-color);
}
#main-nav > * > *{
    padding-top: 10px;
    color: var(--main-text-color);
}
#main-nav, #main-nav > div{
    display: flex;
    flex-direction: row;
}
.logo-div{
    width: 10%;
}
.main-href{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.main-href > a{
    text-decoration: none;
}
.sec-href{
    width: 30%;
    display: flex;
    justify-content:space-evenly;
}
.sec-href > a{
    position: relative;
    left: 15%;
    text-decoration: none;
}
.dropdown{
    display: relative;

}
.dropbtn{
    border: none;
    color: var(--main-text-color);
    background-color: inherit;
}
.drop-content{
    display: none;
    z-index: 1;
    position: absolute;
    /*translate: 0px 4.8px;*/
}
.drop-content > a{
    display: block;
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--nav-bg-color);
    padding: 5px;

}

.dropdown:hover .drop-content{
    background-color: inherit;
    display: block;
    border: 1px #CCC solid;
    border-top: 0px;
}
.drop-content > a:hover{
    background-color: #367193;
    font-weight: 2em;
}
.dropdown:hover .dropbtn{
    border-bottom: 4px solid #9DC953;
}