#spacer{
    margin: 200px;
}
.info-divs1{
    display: flex;
    flex-direction: row;
}
.info-divs2{
    display: flex;
    flex-direction: row-reverse;
}
.info-divs{
    margin-bottom: 100px;
}
.info-divs > img{
    height: 200%;
}
.info-divs > p{
    padding: 20px;
    margin: 10px;
    font-size: 115%;
}
main{
    margin: 125px;
}

.ai-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ai-stats > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
}