footer{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: rgb(249, 249, 249);
}
.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-row > * > *{
    margin: 20px;
    font-size: 0.95em;
}
.footer-heading{
    font-size: 1.2em;
    color: rgb(29, 29, 31);
}
.footer-row > * > * > *{
    text-decoration: none;
    color: rgb(80, 80, 83);
}
.footer-row > * > * > *:hover{
    color: rgb(156, 156, 159);
}
.last-footer-row > * > *{
    text-decoration: none;
    color: rgb(80, 80, 83);
}
.last-footer-row > * > *:hover{
    color: rgb(156, 156, 159);
}