.slideshow1{
    background-color: rgb(18, 48, 74);
}
.slideset1{
    height: 600px; 
    position: relative;
    overflow: hidden
}
.slideset1 > * {
    position: absolute; 
    left: 100%; 
    animation: 12s animate2 infinite ease-in-out;
}

.slide > img{
    height: 600px;
}

@keyframes animate2 {
    0% {left: 100%; visibility: hidden;}
    4% {left: 50%; visibility: visible; transform: translateX(-50%);}
    21% {left: 50%;transform: translateX(-50%);}
    25% {left: -100%;}
    100% {left: -100%; visibility: hidden;}
}
.slideset1 > *:nth-child(1) {animation-delay: 0s}
.slideset1 > *:nth-child(2) {animation-delay: 3s}
.slideset1 > *:nth-child(3) {animation-delay: 6s}
.slideset1 > *:nth-child(4) {animation-delay: 9s}