body{
    padding: 0;
    margin: 0;
    --main-text-color: rgb(236, 236, 236);
    --nav-bg-color: rgba(25, 25, 25, 0.75);
    --text-shadow: rgb(201, 197, 197);
}
/*#539DC9*/
#navspace{
    height: 61px;
    background-color: black;
}
*{
    font-family: 'Poppins', sans-serif;
    font-size: 0.99em;
}
#main-nav{
    border-bottom: 1px solid #CCC;
    background-color: var(--nav-bg-color);
    padding: 13px 0px 13px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#main-nav > * > *{
    padding-top: 10px;
    color: var(--main-text-color);
    font-size: 16px;
}
#main-nav, #main-nav > div{
    display: flex;
    flex-direction: row;
}
.logo-div{
    width: 10%;
}
.main-href{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.main-href > a{
    text-decoration: none;
}
.main-href > a:hover{
    transform: scale(1.05);
    text-shadow: 2px 2px 5px var(--text-shadow);
    animation: 0.125s border-animation;
    border-bottom: 4px solid #d7d7d7;
}
.sec-href{
    width: 30%;
    display: flex;
    justify-content:space-evenly;
}
.sec-href > a{
    position: relative;
    left: 25%;
    text-decoration: none;
}
.sec-href > a:hover{
    transform: scale(1.05);
    text-shadow: 2px 2px 5px var(--text-shadow);
    animation: 0.125s border-animation;
    border-bottom: 4px solid #d7d7d7;
}
.dropdown{
    display: relative;
}
.dropbtn{
    border: none;
    color: var(--main-text-color);
    background-color: inherit;
}
.drop-content{
    display: none;
    z-index: 1;
    position: absolute;
    /*translate: 0px 4.8px;*/
}
.drop-content > a{
    display: block;
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--nav-bg-color);
    padding: 5px;
}

.dropdown:hover .drop-content{
    background-color: inherit;
    display: block;
    border: 1px #CCC solid;
    border-top: 0px;
}
.drop-content > a:hover{
    background-color: #367193;
    font-weight: 2em;
}
@keyframes border-animation {
    0% {border-bottom: 0px solid #d7d7d7;}
    25% {border-bottom: 1px solid #d7d7d7;}
    50% {border-bottom: 2px solid #d7d7d7;}
    75% {border-bottom: 3px solid #d7d7d7;}
    100% {border-bottom: 4px solid #d7d7d7;}
}
.dropdown:hover .dropbtn{
    animation: 0.125s border-animation;
    transform: scale(1.05);
    text-shadow: 2px 2px 5px var(--text-shadow);
    border-bottom: 4px solid #d7d7d7;
}