.slideshow1{
    background-color: rgb(18, 48, 74);
}
main{
    margin-left: 10%;
    margin-right: 10%;
}
.main1{
    padding-top: 200px;
    background-color: rgb(249, 249, 249);
}
/**/
.info-divs{
    margin-bottom: 60px;
    padding-bottom: 40px;
    display: flex;
}
.info-divs1{
    flex-direction: row;
}
.info-divs2{
    flex-direction: row-reverse;
}
/**/
.info-divs > img{
    height: 200%;
    border-radius: 5%;
}
.info-divs > p{
    padding: 20px;
    margin: 10px;
    font-size: 115%;
}
/**/


.ai-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%; 
    padding: 2.5%;
    background-color: rgb(240, 240, 240);
}
.ai-stats > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: xx-large;
    display: inline-block;
    border-bottom: 1px solid rgb(105, 105, 105);
}
iframe{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}